* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

.tabs_column {
	float: left;
	width: 25%;
	background-color:#f2f2f2;
	margin-bottom: 20px;
	border-bottom:5px solid #e6e6e6;
}

.tabs_column:hover {
	border-bottom:5px solid black;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.banner {
	padding:2px;
	margin:0px;
	color:black;
	background-color:#2ea32e;
	font-size:10px;
	text-align:center;
}

.tabs {
	width:100%;
	text-align:center;
	font-size:15px;
	color:black;
}

/*Bread Page CSS*/
.bread_page {
	margin: 10px;
}

.bread_image {
	float: left;
	width:50%;
	max-width: 600px;
	height:auto;
	color:black;
	font-size:20px;
	padding-right: 20px;
}

.bread_text {
	padding-top: 60px;
	color:black;
	font-size:20px;
	margin: 10px;
}

/*Facts Page CSS*/
.facts_page {
	margin: 10px;
}

.facts_image {
	float: left;
	width:400px;
	height:auto;
	padding-right: 60px;
}

.facts_text {
	color:black;
	font-size:17px;
	margin: 10px;
}

.facts_column {
  float: left;
  width: 50%;
  padding: 5px;
}

/*About Page CSS*/
.about_page {
	margin: 10px;
}

.about_image {
	float: left;
	width:400px;
	height:auto;
	padding-right: 60px;
}

.about_text {
	color:black;
	font-size:20px;
	margin: 10px;
}

.ref_text {
	color:black;
	font-size:15px;
	margin: 10px;
	line-height: 0.8;
}

.about_column {
  float: left;
  width: 50%;
  padding: 5px;
}

/*Responsive Changes*/
@media screen and (max-width: 800px) {
  .tabs_column, .bread_image, .column, .bread_text {
	  width:100%;
	  font-size:15px;
	  float: left;
	  margin-bottom: 0px;
  }
  
  .bread_image {
	  padding-right: none;
	  max-width: none;
	  margin: none;
  }
  
  .bread_text {
	  padding-top: none;
  }
  
  .facts_image {
		width:320px;
		padding-right: 30px;
  }
  
  .facts_text {
	  font-size:16px;
  }
  
  .about_image {
	  display: none;
  }
}

@media screen and (max-width: 700px) {
  .facts_text {
	  font-size:10px;
  }
  
  .facts_image {
		width:200px;
	}
}

@media screen and (max-width: 300px) {
	.facts_image {
		display: none;
	}
}

img{width:100%;height:auto;}
a{color:black; background-color: transparent; text-decoration: none;}
footer{margin-top: auto;font-size:10px;color:white;background-color:#212121;padding:10px;}
body{min-height: 100vh; display: flex; flex-direction: column;font-family: Arial, Helvetica, sans-serif;background-color: white;color: black;margin: 0px;padding:0px;}
